@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @using (Html.BeginForm("Connect", "Home"))
    {
        <div class="form-group">
            <label for="connectionInput">Connection String</label>
            <input required type="text" class="form-control" name="connectionInput" id="connectionInput" placeholder="Enter connection string">
        </div>
        <div class="form-check">
            <label class="form-check-label" for="useIdentity">Use Identity</label>
            <input type="checkbox" value="true" id="useIdentity" name="useIdentity" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg" value="Connect to SQL" />
        </div>
    }
</div>

<div class="jumbotron">
    @using (Html.BeginForm("ConnectPostgres", "Home"))
    {
        <div class="form-group">
            <label for="connectionInput">Connection String</label>
            <input required type="text" class="form-control" name="connectionInput" id="connectionInput" placeholder="Enter connection string">
        </div>
        @*<div class="form-check">
            <label class="form-check-label" for="useIdentity">Use Identity</label>
            <input type="checkbox" value="true" id="useIdentity" name="useIdentity" />
        </div>*@
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg" value="Connect to PostgreSQL" />
        </div>
    }
</div>
